@page "/markets"
@{
    Layout = "_LayoutDashboard";
}

<div class="mb-100 bs-docs-section" data-bind="with: CurrentVM">
    <div class="row mb-30">
        <div class="col-md-12">
            <div class="tabs-3">
                <ul class="nav nav-tabs bootstrap-tabs">
                    <li class="active"><a href="#kucoin-tab" class="a-inv" data-toggle="tab">Kucoin</a></li>
                </ul>

                <div class="tab-content mt-20">
                    <div class="tab-pane fade in active" id="kucoin-tab">
                        <table id="markets-datatable" class="table mb-40">
                            <thead>
                                <tr>
                                    <th>Data Source</th>
                                    <th>Name</th>
                                    <th>Display Name</th>
                                    <th>Active</th>
                                    <th>Last Changed</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: Markets">
                                <tr>
                                    <td data-bind="html: DataSource"></td>
                                    <td data-bind="html: Name"></td>
                                    <td data-bind="html: DisplayName"></td>
                                    <td>
                                        <a href="#" class="text-danger" data-bind="visible: !IsActive(), click: $parent.ChangeMarketStatus">Inactive</a>
                                        <a href="#" class="text-success" data-bind="visible: IsActive(),click: $parent.ChangeMarketStatus">Active</a>
                                    </td>
                                    <td data-bind="html: LastChanged"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/ViewModels/MarketViewModels.js"></script>
    <script type="text/javascript">
        MainVM.PageTitle("Market Management");
        MainVM.CurrentVM(new MarketViewModel());
        MainVM.CurrentVM().Load();
    </script>
}