/****** Object:  StoredProcedure [dbo].[CurrencyHistory_Insert]    Script Date: 4/5/2023 10:00:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================================================================================
-- Author:		   Trey Norman
-- Create date:    2022.03.16
-- Description:    
-- ==================================================================================================================
CREATE PROCEDURE [dbo].[CurrencyHistory_Insert] @TableName NVARCHAR(20),
                                               @DataSource NVARCHAR(128),
                                               @BaseCurrency NVARCHAR(50),
                                               @QuoteCurrency NVARCHAR(50),
                                               @CandlePattern NVARCHAR(50),
                                               @ChartTimeEpoch BIGINT,
                                               @ChartTimeIso DATETIME,
                                               @OpenPrice DECIMAL(24, 12),
                                               @ClosePrice DECIMAL(24, 12),
                                               @HighPrice DECIMAL(24, 12),
                                               @LowPrice DECIMAL(24, 12),
                                               @Volume DECIMAL(24, 12),
                                               @Turnover DECIMAL(24, 12),
                                               @MovingAverage3 DECIMAL(24, 12) = NULL,
                                               @MovingAverage5 DECIMAL(24, 12) = NULL,
                                               @MovingAverage8 DECIMAL(24, 12) = NULL,
                                               @MovingAverage9 DECIMAL(24, 12) = NULL,
                                               @MovingAverage13 DECIMAL(24, 12) = NULL,
                                               @MovingAverage21 DECIMAL(24, 12) = NULL,
                                               @MovingAverage34 DECIMAL(24, 12) = NULL,
                                               @MovingAverage50 DECIMAL(24, 12) = NULL,
                                               @MovingAverage55 DECIMAL(24, 12) = NULL,
                                               @MovingAverage89 DECIMAL(24, 12) = NULL,
                                               @MovingAverage144 DECIMAL(24, 12) = NULL,
                                               @MovingAverage233 DECIMAL(24, 12) = NULL
AS
    BEGIN
        -- Insert into table.
        DECLARE @query NVARCHAR(MAX) = N'INSERT INTO [dbo].[' + @TableName + N']('
                                       + N'Id, DataSource, BaseCurrency, QuoteCurrency, CandlePattern, ChartTimeEpoch, ChartTimeIso, OpenPrice,'
                                       + N'ClosePrice, HighPrice, LowPrice, Volume, Turnover, MovingAverage3, MovingAverage5, MovingAverage8,'
                                       + N'MovingAverage9, MovingAverage13, MovingAverage21, MovingAverage34, MovingAverage50, MovingAverage55,'
                                       + N'MovingAverage89, MovingAverage144, MovingAverage233, LastUpdatedAt, DateCreated)'
                                       + N'VALUES(NEWID(),''' -- Id - uniqueidentifier
                                       + @DataSource + N''',''' -- DataSource - nvarchar(128)
                                       + @BaseCurrency + N''',''' -- BaseCurrency - nvarchar(50)
                                       + @QuoteCurrency + N''',''' -- QuoteCurrency - nvarchar(50)
                                       + @CandlePattern + N''',' -- CandlePattern - nvarchar(50)
                                       + CONVERT(NVARCHAR(50), @ChartTimeEpoch) + N',''' -- ChartTimeEpoch - bigint
                                       + CONVERT(NVARCHAR(50), @ChartTimeIso) + N''',' -- ChartTimeIso - datetimeoffset(7)
                                       + CONVERT(NVARCHAR(24), @OpenPrice) + N',' -- OpenPrice - decimal(24, 12)
                                       + CONVERT(NVARCHAR(24), @ClosePrice) + N',' -- ClosePrice - decimal(24, 12)
                                       + CONVERT(NVARCHAR(24), @HighPrice) + N',' -- HighPrice - decimal(24, 12)
                                       + CONVERT(NVARCHAR(24), @LowPrice) + N',' -- LowPrice - decimal(24, 12)
                                       + CONVERT(NVARCHAR(24), @Volume) + N',' -- Volume - decimal(24, 12)
                                       + CONVERT(NVARCHAR(24), @Turnover) + N',' -- Turnover - decimal(24, 12)
                                       + CASE WHEN @MovingAverage3 IS NULL THEN 'NULL' ELSE CONVERT(NVARCHAR(24), @MovingAverage3) END + N',' -- MovingAverage3 - decimal(24, 12)
                                       + CASE WHEN @MovingAverage3 IS NULL THEN 'NULL' ELSE CONVERT(NVARCHAR(24), @MovingAverage5) END + N',' -- MovingAverage5 - decimal(24, 12)
                                       + CASE WHEN @MovingAverage3 IS NULL THEN 'NULL' ELSE CONVERT(NVARCHAR(24), @MovingAverage8) END + N',' -- MovingAverage8 - decimal(24, 12)
                                       + CASE WHEN @MovingAverage3 IS NULL THEN 'NULL' ELSE CONVERT(NVARCHAR(24), @MovingAverage9) END + N',' -- MovingAverage9 - decimal(24, 12)
                                       + CASE WHEN @MovingAverage3 IS NULL THEN 'NULL' ELSE CONVERT(NVARCHAR(24), @MovingAverage13) END + N',' -- MovingAverage13 - decimal(24, 12)
                                       + CASE WHEN @MovingAverage3 IS NULL THEN 'NULL' ELSE CONVERT(NVARCHAR(24), @MovingAverage21) END + N',' -- MovingAverage21 - decimal(24, 12)
                                       + CASE WHEN @MovingAverage3 IS NULL THEN 'NULL' ELSE CONVERT(NVARCHAR(24), @MovingAverage34) END + N',' -- MovingAverage34 - decimal(24, 12)
                                       + CASE WHEN @MovingAverage3 IS NULL THEN 'NULL' ELSE CONVERT(NVARCHAR(24), @MovingAverage50) END + N',' -- MovingAverage50 - decimal(24, 12)
                                       + CASE WHEN @MovingAverage3 IS NULL THEN 'NULL' ELSE CONVERT(NVARCHAR(24), @MovingAverage55) END + N',' -- MovingAverage55 - decimal(24, 12)
                                       + CASE WHEN @MovingAverage3 IS NULL THEN 'NULL' ELSE CONVERT(NVARCHAR(24), @MovingAverage89) END + N',' -- MovingAverage89 - decimal(24, 12)
                                       + CASE WHEN @MovingAverage3 IS NULL THEN 'NULL' ELSE CONVERT(NVARCHAR(24), @MovingAverage144) END + N',' -- MovingAverage144 - decimal(24, 12)
                                       + CASE WHEN @MovingAverage3 IS NULL THEN 'NULL' ELSE CONVERT(NVARCHAR(24), @MovingAverage233) END + N',' -- MovingAverage233 - decimal(24, 12)
                                       + N'SYSDATETIMEOFFSET(),' -- LastUpdatedAt - datetimeoffset(7)
                                       + N'SYSDATETIMEOFFSET())'; -- DateCreated - datetimeoffset(7)'


        --PRINT @query;
        EXECUTE(@query);
    END;
