/****** Object:  StoredProcedure [dbo].[GetNullMovingAverages]    Script Date: 4/5/2023 10:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ====================================================================================================
-- Author:		   Trey Norman
-- Create date:    2022.07.12
-- Description:	   Gets a list of all records that have at least one null moving average 
--                 by DataSource, QuoteCurrency and CandlePattern
-- ====================================================================================================

CREATE PROCEDURE [dbo].[GetNullMovingAverages] @TableName NVARCHAR(20),
                                              @DataSource NVARCHAR(128),
                                              @QuoteCurrency NVARCHAR(50),
											  @CandlePattern NVARCHAR(50)
AS
    BEGIN
        --DECLARE @TableName NVARCHAR(20) = N'BtcHistory';
        --DECLARE @DataSource NVARCHAR(128) = N'Kucoin';
        --DECLARE @QuoteCurrency NVARCHAR(50) = N'USDT';
        --DECLARE @CandlePattern NVARCHAR(50) = N'1day';

        DECLARE @query NVARCHAR(MAX) = N'SELECT Id,'
								     + N'       ChartTimeEpoch,'
									 + N'       ClosePrice,'
									 + N'       MovingAverage3,'
									 + N'       MovingAverage5,'
		     					     + N'       MovingAverage8,'
									 + N'       MovingAverage9,'
									 + N'       MovingAverage13,'
									 + N'       MovingAverage21,'
									 + N'       MovingAverage34,'
									 + N'       MovingAverage50,'
									 + N'       MovingAverage55,'
									 + N'       MovingAverage89,'
									 + N'       MovingAverage144,'
									 + N'       MovingAverage233 '
									 + N'FROM [dbo].[' + @TableName + N'] '
									 + N'Where DataSource = ''' + @DataSource + N''' AND QuoteCurrency = '''  + @QuoteCurrency + N''' AND CandlePattern = ''' +  @CandlePattern+ ''' '
								     + N'      AND (MovingAverage3 IS NULL OR MovingAverage5 IS NULL OR MovingAverage8 IS NULL OR MovingAverage9 IS NULL '
									 + N'        OR MovingAverage13 IS NULL OR MovingAverage21 IS NULL OR MovingAverage34 IS NULL OR MovingAverage50 IS NULL '
                                     + N'        OR MovingAverage55 IS NULL OR MovingAverage89 IS NULL OR MovingAverage144 IS NULL OR MovingAverage233 IS NULL) '
															 
									 --+ N'      AND ChartTimeIso > (GETDATE() - 234) '
									 
									 + N'ORDER BY ChartTimeEpoch';
		--PRINT @query;
        EXECUTE(@query);
    END;