/****** Object:  StoredProcedure [dbo].[Kucoin_UpdateMovingAverage_All]    Script Date: 4/5/2023 2:53:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================================================================================
-- Author:		   Trey Norman
-- Create date:    2023.04.04
-- Description:    Update the moving average for all of the columns
-- ==================================================================================================================

CREATE PROCEDURE [dbo].[Kucoin_UpdateMovingAverage_All]
AS
    BEGIN
        --UPDATE dbo.Kucoin
        --SET MovingAverage3 = NULL,
        --    MovingAverage5 = NULL,
        --    MovingAverage8 = NULL,
        --    MovingAverage9 = NULL,
        --    MovingAverage13 = NULL,
        --    MovingAverage21 = NULL,
        --    MovingAverage34 = NULL,
        --    MovingAverage50 = NULL,
        --    MovingAverage55 = NULL,
        --    MovingAverage89 = NULL,
        --    MovingAverage144 = NULL,
        --    MovingAverage233 = NULL;

        EXEC dbo.Kucoin_UpdateMovingAverage_003;
		PRINT 'Finished Kucoin_UpdateMovingAverage_003';
        EXEC dbo.Kucoin_UpdateMovingAverage_005;
		PRINT 'Finished Kucoin_UpdateMovingAverage_005';
        EXEC dbo.Kucoin_UpdateMovingAverage_008;
		PRINT 'Finished Kucoin_UpdateMovingAverage_008';
        EXEC dbo.Kucoin_UpdateMovingAverage_009;
		PRINT 'Finished Kucoin_UpdateMovingAverage_009';
        EXEC dbo.Kucoin_UpdateMovingAverage_013;
		PRINT 'Finished Kucoin_UpdateMovingAverage_013';
        EXEC dbo.Kucoin_UpdateMovingAverage_021;
		PRINT 'Finished Kucoin_UpdateMovingAverage_021';
        EXEC dbo.Kucoin_UpdateMovingAverage_034;
		PRINT 'Finished Kucoin_UpdateMovingAverage_034';
        EXEC dbo.Kucoin_UpdateMovingAverage_050;
		PRINT 'Finished Kucoin_UpdateMovingAverage_050';
        EXEC dbo.Kucoin_UpdateMovingAverage_055;
		PRINT 'Finished Kucoin_UpdateMovingAverage_055';
        EXEC dbo.Kucoin_UpdateMovingAverage_089;
		PRINT 'Finished Kucoin_UpdateMovingAverage_089';
        EXEC dbo.Kucoin_UpdateMovingAverage_144;
		PRINT 'Finished Kucoin_UpdateMovingAverage_144';
        EXEC dbo.Kucoin_UpdateMovingAverage_233;
		PRINT 'Finished Kucoin_UpdateMovingAverage_233';
    END;