/****** Object:  StoredProcedure [dbo].[Kucoin_UpdateMovingAverage_003]    Script Date: 4/5/2023 2:52:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================================================================================
-- Author:		   Trey Norman
-- Create date:    2023.04.03
-- Description:    Update the moving average 3 column in the Kucoin table
-- ==================================================================================================================

CREATE PROCEDURE [dbo].[Kucoin_UpdateMovingAverage_003]
AS
    BEGIN
        DECLARE @kucoinId UNIQUEIDENTIFIER;
        DECLARE @baseCurrency NVARCHAR(50) = N'';
        DECLARE @quoteCurrency NVARCHAR(50) = N'';
        DECLARE @candlestickPattern NVARCHAR(50) = N'';
        DECLARE @chartTimeEpoch BIGINT = 0;
        DECLARE MovingAverageCursor CURSOR LOCAL FAST_FORWARD FOR
        SELECT Id,
               BaseCurrency,
               QuoteCurrency,
               CandlestickPattern,
               ChartTimeEpoch
        FROM dbo.Kucoin
        WHERE MovingAverage3 IS NULL
        ORDER BY ChartTimeEpoch;
        OPEN MovingAverageCursor;
        FETCH NEXT FROM MovingAverageCursor
        INTO @kucoinId,
             @baseCurrency,
             @quoteCurrency,
             @candlestickPattern,
             @chartTimeEpoch;
        WHILE @@FETCH_STATUS = 0
            BEGIN
                DECLARE @Interval INT = 3;
                DECLARE @totalSeconds BIGINT = (SELECT dbo.GetTotalSecondsForInterval(@candlestickPattern, @Interval));

                DECLARE @totalCount INT = 0;
                DECLARE @average DECIMAL(24, 12) = 0;
                SELECT @average = (CONVERT(DECIMAL(24, 12), SUM(ClosingPrice) / @Interval)),
                       @totalCount = COUNT(*)
                FROM dbo.Kucoin
                WHERE BaseCurrency = @baseCurrency AND QuoteCurrency = @quoteCurrency AND CandlestickPattern = @candlestickPattern
                      AND ChartTimeEpoch <= CONVERT(NVARCHAR(25), @chartTimeEpoch)
                      AND ChartTimeEpoch > CONVERT(NVARCHAR(25), (@chartTimeEpoch - @totalSeconds));

                IF(@totalCount = @Interval AND @average <> 0)
                    BEGIN
                        UPDATE dbo.Kucoin
                        SET MovingAverage3 = @average,
                            LastChangedBy = 'SP_UpdateMovingAverage_' + CONVERT(NVARCHAR(3), @Interval),
                            DateLastChanged = SYSDATETIMEOFFSET()
                        WHERE Id = @kucoinId;
                    END;

                FETCH NEXT FROM MovingAverageCursor
                INTO @kucoinId,
                     @baseCurrency,
                     @quoteCurrency,
                     @candlestickPattern,
                     @chartTimeEpoch;
            END;
        CLOSE MovingAverageCursor;
        DEALLOCATE MovingAverageCursor;
    END;