/****** Object:  StoredProcedure [dbo].[UpdateMovingAverage]    Script Date: 4/5/2023 10:00:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ====================================================================================================
-- Author:		   Trey Norman
-- Create date:    2022.11.10
-- Description:	   Updates the specified moving average if there is enough information to do so
-- ====================================================================================================

CREATE PROCEDURE [dbo].[UpdateMovingAverage] @TableName NVARCHAR(20),
                                            @DataSource NVARCHAR(128),
                                            @QuoteCurrency NVARCHAR(50),
                                            @CurrentChartTimeEpoch BIGINT,
                                            @HistoryId UNIQUEIDENTIFIER,
                                            @Interval INT,
                                            @CandlePattern NVARCHAR(50),
                                            @Updated BIT OUTPUT
AS
    BEGIN
		--DECLARE @TableName NVARCHAR(50) = N'BtcHistory';
		--DECLARE @DataSource NVARCHAR(128) = N'Kucoin';
		--DECLARE @QuoteCurrency NVARCHAR(50) = N'USDT';
		--DECLARE @CurrentChartTimeEpoch BIGINT = 1668450600;
		--DECLARE @HistoryId UNIQUEIDENTIFIER = 'CFCAFD18-936C-4177-944C-8D87FB885FF8';
		--DECLARE @Interval INT = 3;
		--DECLARE @CandlePattern NVARCHAR(50) = N'15min';
		--DECLARE @UPdated BIT = 0;

        DECLARE @totalSeconds BIGINT = 0;
		IF(@CandlePattern = 'FiveMinute')
            BEGIN
                -- 300 Seconds in 15 min
                SET @totalSeconds = (300 * @Interval);
            END;
        IF(@CandlePattern = 'FifteenMinute')
            BEGIN
                -- 900 Seconds in 15 min
                SET @totalSeconds = (900 * @Interval);
            END;
        IF(@CandlePattern = 'OneHour')
            BEGIN
                -- 3600 Seconds in 1 hour
                SET @totalSeconds = (3600 * @Interval);
            END;
		IF(@CandlePattern = 'FourHour')
            BEGIN
                -- 14400 Seconds in 4 hour
                SET @totalSeconds = (14400 * @Interval);
            END;
        IF(@CandlePattern = 'OneDay')
            BEGIN
                -- 86400 Seconds in 1 day
                SET @totalSeconds = (86400 * @Interval);
            END;

        IF(@totalSeconds > 0)
            BEGIN
                DECLARE @query NVARCHAR(MAX) = N'DECLARE @totalCount INT = 0; ' 
                							 + N'SELECT @totalCount = COUNT(*) FROM [dbo].[' + @TableName + '] '
                							 + N'WHERE DataSource = ''' + @DataSource + ''''
                							 + N'      AND QuoteCurrency = ''' + @QuoteCurrency + ''''
                							 + N'      AND CandlePattern = ''' + @CandlePattern + ''''
                							 + N'      AND ChartTimeEpoch <= ' + CONVERT(NVARCHAR(25), @CurrentChartTimeEpoch)
                							 + N'      AND ChartTimeEpoch > ' + CONVERT(NVARCHAR(25), (@CurrentChartTimeEpoch - @totalSeconds))
                							 + N''
                							 + N'IF(@totalCount = ' + CONVERT(NVARCHAR(3), @Interval) + ') ' 
                							 + N'	BEGIN ' 
                							 + N'		DECLARE @average DECIMAL(24, 12); '
                							 + N'       SELECT @average = (CONVERT(DECIMAL(24, 12), SUM(ClosePrice) / ' + CONVERT(NVARCHAR(3), @Interval) + ')) FROM [dbo].[' + @TableName + '] ' 
                							 + N'       WHERE CandlePattern = ''' + @CandlePattern + ''''
                							 + N'             AND ChartTimeEpoch <= ' + CONVERT(NVARCHAR(25), @CurrentChartTimeEpoch) 
                							 + N'	          AND ChartTimeEpoch > ' + CONVERT(NVARCHAR(25), (@CurrentChartTimeEpoch - @totalSeconds)) 
                							 + N''
                							 + N'       UPDATE [dbo].[' + @TableName + '] '
                							 + N'       SET MovingAverage' + CONVERT(NVARCHAR(3), @Interval) + ' = @average, LastUpdatedAt = SYSDATETIMEOFFSET() ' 
                							 + N'       WHERE Id = ''' + CONVERT(NVARCHAR(36), @HistoryId) + ''''
                							 + N''
                							 + N'		SET @updated = 1 ' 
                							 + N'   END '
                							 + N'ELSE '
                							 + N'	BEGIN ' 
                							 + N'		SET @updated = 0 '
                							 + N'	END';

                PRINT @query;
                DECLARE @params NVARCHAR(50) = N'@updated BIT OUTPUT';
                EXEC sp_executesql @query, @params, @Updated OUT;
                RETURN @Updated;
            END;
        ELSE
            BEGIN
                SET @Updated = 0;
                RETURN @Updated;
            END;
    END;