@page "/404"

<div class="container p-140-cont">
    <div class="row mt-40 mb-40">
        <div class="col-md-6 text-center img-container-404">
            <img alt="img" src="images/website/404.png">
        </div>
        <div class="col-md-6 m-top-10">
            <h3>OOPS! THE PAGE YOU WERE LOOKING FOR, COULDN'T BE FOUND</h3>
            <p>We're sorry, but the page you were looking for doesn't exist</p>
            <p>We're sorry, but the page you were looking for doesn't exist. Here are some useful links</p>
        </div>

    </div>
</div>