SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================================================================================
-- Author:		   Trey Norman
-- Create date:    2022.03.16
-- Description:    
-- ==================================================================================================================
CREATE PROCEDURE [dbo].[CreateCurrencyHistoryTable] @TableName NVARCHAR(20)
AS
    BEGIN
       
	   --DECLARE @TableName NVARCHAR(20) = 'Test';
       DECLARE @query NVARCHAR(MAX) = N'CREATE TABLE [dbo].[' + @TableName + ']('
					    	 			+ '[Id] [uniqueidentifier] NOT NULL,'
					    	 			+ '[DataSource] [nvarchar](128) NOT NULL,'
									    + '[BaseCurrency] [nvarchar](50) NOT NULL,'
					    	 			+ '[QuoteCurrency] [nvarchar](50) NOT NULL,'
					    	 			+ '[CandlePattern] [nvarchar](50) NOT NULL,'
					    	 			+ '[ChartTimeEpoch] [bigint] NOT NULL,'
					    	 			+ '[ChartTimeIso] [datetimeoffset](7) NOT NULL,'
					    	 			+ '[OpenPrice] [decimal](24, 12) NOT NULL,'
					    	 			+ '[ClosePrice] [decimal](24, 12) NOT NULL,'
					    	 			+ '[HighPrice] [decimal](24, 12) NOT NULL,'
					    	 			+ '[LowPrice] [decimal](24, 12) NOT NULL,'
					    	 			+ '[Volume] [decimal](24, 12) NOT NULL,'
					    	 			+ '[Turnover] [decimal](24, 12) NOT NULL,'
					    	 			+ '[MovingAverage3] [decimal](24, 12) NULL,'
					    	 			+ '[MovingAverage5] [decimal](24, 12) NULL,'
					    	 			+ '[MovingAverage8] [decimal](24, 12) NULL,'
					    	 			+ '[MovingAverage9] [decimal](24, 12) NULL,'
					    	 			+ '[MovingAverage13] [decimal](24, 12) NULL,'
					    	 			+ '[MovingAverage21] [decimal](24, 12) NULL,'
					    	 			+ '[MovingAverage34] [decimal](24, 12) NULL,'
					    	 			+ '[MovingAverage50] [decimal](24, 12) NULL,'
					    	 			+ '[MovingAverage55] [decimal](24, 12) NULL,'
					    	 			+ '[MovingAverage89] [decimal](24, 12) NULL,'
					    	 			+ '[MovingAverage144] [decimal](24, 12) NULL,'
					    	 			+ '[MovingAverage233] [decimal](24, 12) NULL,'
										+ '[LastUpdatedAt] [datetimeoffset](7) NOT NULL,'
					    	 			+ '[DateCreated] [datetimeoffset](7) NOT NULL,'
					    			+ 'CONSTRAINT [PK_' + @TableName + '] PRIMARY KEY NONCLUSTERED ([Id] ASC)' 
					    			+ 'WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]) ON [PRIMARY] '
                             
									-- Set default values
									+ N'ALTER TABLE [dbo].[' + @TableName + '] ADD  CONSTRAINT [DF_' + @TableName + '_Id]  DEFAULT (newid()) FOR [Id] '
									+ N'ALTER TABLE [dbo].[' + @TableName + '] ADD  CONSTRAINT [DF_' + @TableName + '_DataSource]  DEFAULT ('''') FOR [DataSource] '
									+ N'ALTER TABLE [dbo].[' + @TableName + '] ADD  CONSTRAINT [DF_' + @TableName + '_BaseCurrency]  DEFAULT ('''') FOR [BaseCurrency] '
									+ N'ALTER TABLE [dbo].[' + @TableName + '] ADD  CONSTRAINT [DF_' + @TableName + '_QuoteCurrency]  DEFAULT ('''') FOR [QuoteCurrency] '
									+ N'ALTER TABLE [dbo].[' + @TableName + '] ADD  CONSTRAINT [DF_' + @TableName + '_CandlePattern]  DEFAULT ('''') FOR [CandlePattern] '
									+ N'ALTER TABLE [dbo].[' + @TableName + '] ADD  CONSTRAINT [DF_' + @TableName + '_OpenPrice]  DEFAULT ((0)) FOR [OpenPrice] '
									+ N'ALTER TABLE [dbo].[' + @TableName + '] ADD  CONSTRAINT [DF_' + @TableName + '_ClosePrice]  DEFAULT ((0)) FOR [ClosePrice] '
									+ N'ALTER TABLE [dbo].[' + @TableName + '] ADD  CONSTRAINT [DF_' + @TableName + '_HighPrice]  DEFAULT ((0)) FOR [HighPrice] '
									+ N'ALTER TABLE [dbo].[' + @TableName + '] ADD  CONSTRAINT [DF_' + @TableName + '_LowPrice]  DEFAULT ((0)) FOR [LowPrice] '
									+ N'ALTER TABLE [dbo].[' + @TableName + '] ADD  CONSTRAINT [DF_' + @TableName + '_Volume]  DEFAULT ((0)) FOR [Volume] '
									+ N'ALTER TABLE [dbo].[' + @TableName + '] ADD  CONSTRAINT [DF_' + @TableName + '_Turnover]  DEFAULT ((0)) FOR [Turnover]';
	   EXECUTE(@query)

    END;