SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

-- ==================================================================================================================
-- Author:		   Trey Norman
-- Create date:    2022.03.16
-- Description:    
-- ==================================================================================================================
CREATE PROCEDURE [dbo].[GetCurrencyHistorySummary]
AS
    BEGIN
        DECLARE @query NVARCHAR(MAX) = N'';
        DECLARE @tableName NVARCHAR(50);
        DECLARE TableCursor CURSOR LOCAL FAST_FORWARD FOR
        SELECT TABLE_NAME
        FROM INFORMATION_SCHEMA.TABLES
        WHERE TABLE_TYPE = 'BASE TABLE' AND TABLE_NAME LIKE '%History';
        OPEN TableCursor;
        FETCH NEXT FROM TableCursor
        INTO @tableName;
        WHILE @@FETCH_STATUS = 0
            BEGIN
                SET @query += N'SELECT DataSource, BaseCurrency, QuoteCurrency, CandlePattern, MIN(ChartTimeEpoch) AS [MinTimeEpoch], MAX(ChartTimeEpoch) AS [MaxTimeEpoch], MAX(LastUpdatedAt) AS [LastUpdatedAt] '
                              + N'FROM [dbo].[' + @tableName + N']' + N'GROUP BY DataSource, BaseCurrency, QuoteCurrency, CandlePattern';

                FETCH NEXT FROM TableCursor
                INTO @tableName;
                IF(@@FETCH_STATUS = 0)
                    BEGIN
                        SET @query += N' UNION ALL ';
                    END;
            END;
        CLOSE TableCursor;
        DEALLOCATE TableCursor;

        PRINT @query;
        EXECUTE(@query);
    END;