SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

-- ==================================================================================================================
-- Author:		   Trey Norman
-- Create date:    2022.03.16
-- Description:    
-- ==================================================================================================================
CREATE PROCEDURE [dbo].[GetCurrencyHistoryDetails] @TableName NVARCHAR(50),
                                              @DataSource NVARCHAR(128),
                                              @QuoteCurrency NVARCHAR(50),
                                              @CandlePattern NVARCHAR(50)
AS
    BEGIN
        --DECLARE @TableName NVARCHAR(50) = N'BtcHistory';
        --DECLARE @DataSource NVARCHAR(128) = N'Kucoin';
        --DECLARE @QuoteCurrency NVARCHAR(50) = N'USDT';
        --DECLARE @CandlePattern NVARCHAR(50) = N'1Day';
        DECLARE @query NVARCHAR(MAX) = N'SELECT * FROM [dbo].[' + @TableName + N'] WHERE DataSource = ''' + @DataSource + N''' AND QuoteCurrency = '''
                                       + @QuoteCurrency + N''' AND CandlePattern = ''' + @CandlePattern + N''' ORDER BY ChartTimeEpoch ASC';

        --PRINT @query;
        EXECUTE(@query);
    END;