USE [CurrencyHistory];
GO
/****** Object:  StoredProcedure [dbo].[GetCurrencyHistoryDetailsByDate]    Script Date: 4/5/2022 5:11:15 PM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

-- ==================================================================================================================
-- Author:		   Trey Norman
-- Create date:    2022.03.16
-- Description:    
-- ==================================================================================================================
CREATE PROCEDURE [dbo].[GetCurrencyHistoryDetailsByDate] @TableName NVARCHAR(50),
                                                         @DataSource NVARCHAR(128),
                                                         @QuoteCurrency NVARCHAR(50),
                                                         @CandlePattern NVARCHAR(50),
                                                         @StartDate DATETIME,
                                                         @EndDate DATETIME,
                                                         @ShortMovingAverage INT,
                                                         @LongMovingAverage INT
AS
    BEGIN
        --DECLARE @TableName NVARCHAR(50) = N'BtcHistory';
        --DECLARE @DataSource NVARCHAR(128) = N'Kucoin';
        --DECLARE @QuoteCurrency NVARCHAR(50) = N'USDT';
        --DECLARE @CandlePattern NVARCHAR(50) = N'1Day';
        --DECLARE @StartDate DATETIME = '2020-03-02';
        --DECLARE @EndDate DATETIME = '2021-03-02';
        --DECLARE @ShortMovingAverage INT = 5;
        --DECLARE @LongMovingAverage INT = 21;
        DECLARE @query NVARCHAR(MAX) = N'SELECT * FROM [dbo].[' + @TableName + N'] WHERE DataSource = ''' + @DataSource + N''' AND QuoteCurrency = '''
                                       + @QuoteCurrency + N''' AND CandlePattern = ''' + @CandlePattern + N''' AND ChartTimeIso BETWEEN '''
                                       + CONVERT(NVARCHAR(50), @StartDate) + N''' AND ''' + CONVERT(NVARCHAR(50), @EndDate) + N''' AND MovingAverage'
                                       + CONVERT(NVARCHAR(3), @ShortMovingAverage) + N' IS NOT NULL AND MovingAverage'
                                       + CONVERT(NVARCHAR(3), @LongMovingAverage) + N' IS NOT NULL   ORDER BY ChartTimeEpoch ASC';

        --PRINT @query;
        EXECUTE(@query);
    END;