@page "/subscribed"
@model SubscribedModel

<div class="container maintenance-container">
    <div class="row">
        <div class="col-md-4 text-center maintenance-icon-container">
            <span aria-hidden="true" class="icon_like maintenance-icon"></span>
        </div>
        <div class="col-md-8 maintenance-text-container">
            <h1>Your Are Subscribed!</h1>
            <h2>You made a great move towards improving your trading skills.</h2>
            <p>If you haven't already, make sure to read the Probability Trades Discord #rules-acknowledgements channel and click on the Accept and Agree button to get validated.</p>
            <p>If you have any questions, contact us at <a href="mailto:support@probabilitytrades.com" class="text-info bold">support@probabilitytrades.com</a>.</p>
            <p>You can manage your subscription <a href="/subscription" class="text-info bold">here</a> in the admin section.</p>
            <p>Good Luck. Have Fun!</p>
        </div>
    </div>
</div>